/* set default page styling */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* define container styling for app */
.container{
    width: 100%;
    min-height: 100vh;
    background: #0b0423;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* create styling with left and right box to match */
#left, #right{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px dashed #fff;
}

/* style list elements to fit in box */
.list{
    background: #e91e63;
    height: 60px;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: grab;
}

/* style image element contained in list items */
.list img{
    width: 20px;
    margin-right: 15px;
    margin-left: 20px;
}